:root{
    --color1: #1B304D;
    --color2:  #D9D9D9;
    --color3: #FFFFFF;
}
main{
    width: 672px;
    height: 100%;
    display: flex;
    color: #FFFFFF;
}
aside{
    width: 40%;
    background-color: #D9D9D9;
}
.photo{
    position: relative;
width: 273px;
height: 202px;
left: 2px;
top: 0px;
background: #1C2866;
border-radius: 0px 0px 150px 150px;
}
img{
    position: absolute;
width: 210px;
height: 225px;
left: 3vh;
top: 8vh;
 background-color: #D9D9D9; 
border: 3px solid #D9D9D9;
border-radius: 122px;
}
 .profil-container {
    margin-top: 70px;
}

.profil-container .profil {
    padding: 15px;
}

.profil-container .profil .profil-barre {
    width: 80%;
    height: 35px;
    margin-top: 3vh;
    background-color: #D9D9D9;
    border-radius: 50px;
    border: 1px solid black;
}



.profil-container .profil .profil-barre span {
    display: flex;
    background-color: var(--color1);
    width: 70%;
    height: 100%;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: var(--color3);
    font-weight: bold;
}

.profil-container .profil p {
    font-size: var(--p);
    color: black;
}
h3 {
    margin-bottom: 0;
    font-size: var(--p);
    color: black;
}
article {
    background-color: #7490b68c;
    width: 70%;
    padding: 10px;
}
article header{
    text-align: right;
}
article header h1{
    color:  #1D7479;
    margin-bottom: 0;
}
article header h2{
    color: #1D7479;
    margin-top: 0;
}
article .profil-container {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
article .profil-container .profil .progress{
    border-left: 2px solid #1D7479 ;
    padding-left: 5px;
    position: relative;
}
article .profil-container .profil .progress p::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color1);
    position: absolute;
    left: -6px;
}

article .profil-container .profil .progress .formation {
    color: black;
    font-size: var(--h2);
}
article .profil-container .profil .experiences {
    display: flex;
    column-gap: 10px;
}

article .profil-container .profil .experiences p:first {
    flex: 1;
}

article .profil-container .profil .experiences p:last-child {
    flex: 2;
}

article .profil-container .profil .competences {
    font-size: small;
    display: flex;
    column-gap: 10px;
    color: black;
}
@media only screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
    }
    main{
        width: 100vW;
        height: 100%;
        font-size: 10px;
    }
    aside {
        background-color: var(--color2);
        width: 40%;
    }

    .photo {
        background-color: var(--color1);
        height: 150px;
        width: 140px;
        position: relative;
        border-radius: 0 0 113px 113px;
    }

    .photo img {
        border-radius: 50%;
        width: 100px;
        height: 120px;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .email {
        font-size: 10px;
        word-wrap: break-word;
    }

    aside .profil-container p {
        font-size: 5px;
        max-width: 100px;
    }

    article header h1 {
        font-size: var(--p);
        margin-bottom: 0;
    }

    article header h2 {
        font-size: var(--mobileSize);
        margin-top: 0;
        text-align: right;
    }

    @media screen and (max-width: 700px){
        .courbe {
            background-color: var(--color1);
            height: 100px;
            width: 20px;
            position: relative;
            border-radius: 0 0 113px 113px;
        }
    
        .courbe img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}
